.add-option-error {
  color: $off-white;
  font-style: italic;
  padding: 0 $m-size;
  margin: $m-size 0 0 0;
}

.add-option {
  display: flex;
  padding: $m-size;
  flex-direction: column;

  @media (min-width: 45rem) {
    flex-direction: row;
  }

  &__input {
    flex-grow: 1;
    background: $dark-blue;
    border: none;
    border-bottom: 0.3rem solid darken($dark-blue, 10);
    margin: 0 0 $s-size 0;
    color: $off-white;
    padding: $s-size;

    @media (min-width: $desktop-breakpoint) {
      margin: 0 $s-size 0 0;
    }
  }
}
