.big-button {
  background: $purple;
  border: none;
  border-bottom: 0.6rem solid darken($purple, 10);
  color: #ffffff;
  font-weight: bold;
  font-size: $l-size;
  width: 100%;
  margin-bottom: $m-size;
  padding: 2.4rem;

  @media screen and (min-width: $desktop-breakpoint) {
    margin-bottom: $xl-size;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.button {
  background: $purple;
  border: none;
  border-bottom: 0.3rem solid darken($purple, 10);
  color: white;
  font-weight: 500;
  padding: $s-size;

  &--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
  }
}
