.header {
  background: $off-black;
  margin-bottom: $m-size;
  padding: $m-size 0;
  color: #ffffff;

  @media screen and (min-width: $desktop-breakpoint) {
    margin-bottom: $xl-size;
  }
}

.header__title {
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}
