.ReactModalPortal {
  & > div {
    opacity: 0;
  }

  & .ReactModal__Overlay {
    transition: opacity 200ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &--after-open {
      opacity: 1;
    }

    &--before-close {
      opacity: 0;
    }
  }
}

.modal {
  background: $light-blue;
  color: #ffffff;
  max-width: 30rem;
  outline: none;
  padding: $l-size;
  text-align: center;

  &__title {
    margin: 0 0 $m-size 0;
  }

  &__body {
    margin: 0 0 $l-size 0;
    font: 2rem;
    font-weight: 300;
    word-break: break-all;
  }
}
