.option {
  display: flex;
  justify-content: space-between;
  padding: $l-size $m-size;
  border-bottom: 1px solid lighten($light-blue, 10);

  &__text {
    color: #ffffff;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    word-break: break-all;
  }
}
